<div class="topnav" id="myTopnav">
    <!--<a href="/"><i class="fa fa-home"></i></a>-->
    <!--<a href="/users/getusers">View Users</a>
    <a href="/users/adduser">Register User</a>
    <a href="/users/queryuserbyid">Query User</a>
    <a href="/users/updateuser">Update User</a> -->
    <div class="banner">
      <a href="/">
      <img src="../../images/jwst2.png" alt="Logo" width="50px" height="auto" >
      </a>
    </div>
    <!--<div class="searchbox"> 
      <div class="search_btn">
        <input type="text" class="input_search" placeholder="Looking for something?">
        <button type="submit"><i class="fa fa-search"></i></button>
  
      </div>
    </div>-->
    <a href="/users/signup" class="auth">sign up</a>
    <a href="/users/login" class="auth">login</a>
</div>