<div class="searchbox"> 
    <div class="search_btn">
      <input type="text" class="input_search" placeholder="Looking for something?">
      <button type="submit"><i class="fa fa-search"></i></button>

    </div>
</div>