<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headindex') %>
<body>
    <div class="grid">
        <%- include('partials/navbar') %>
        <div class="content_section">
            <!--Slideshow images for home page-->
            <div class="w3-content w3-section" style="max-width:100%">
                <img class="mySlides" src="../../images/space1.jpg" style="width:100%" padding="0" height="500px">
                <img class="mySlides" src="../../images/space3.jpg" style="width:100%" padding="0" height="500px">
                <img class="mySlides" src="../../images/space 4.jpg" style="width:100%" padding="0" height="500px">
                <img class="mySlides" src="../../images/space5.jpg" style="width:100%" padding="0" height="500px">
            </div>
            
            // script for the --Slideshow
            <script>
                var myIndex = 0;
                carousel();
                
                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  myIndex++;
                  if (myIndex > x.length) {myIndex = 1}    
                  x[myIndex-1].style.display = "block";  
                  setTimeout(carousel, 3000); // Change image every 2 seconds
                }
                </script>
        </div>
        <%- include('partials/footer') %>
    </div>

    
    
</body>
</html>